/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/** end reset css**/
body {
    max-width: 1140px;
    margin: auto;
    font-family: 'Work Sans';
    font-size: 14px;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 50px 0
}

section {
    margin: 50px 0
}

h1 {
    display: flex;
    flex-direction: column;
    font-family: 'Syne';
    font-size: 22px;
    font-weight: 800;
    color: #B1663C
}

h1 > span {
    font-family: 'Work Sans';
    font-size: 10px;
    letter-spacing: 0.1em;;
}

h2 {
    font-family: 'Syne';
    font-weight: 700;
    font-size: 30px;
    color: #1D6154
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;

}

nav li {
    padding: 0 10px;
    font-size: 1.2em;
}

li:hover {
    color: #B1663C;
}

#introduction {
    display: flex;
    align-items: center;
}

#introduction figure {
    flex: 1
}

#introduction img {
    display: block;
    margin: auto;
    width: 80%;
}

#introduction article {
    flex: 1
}

#introduction h2 {
    margin-bottom: 1em;
}

#introduction p {
    margin-bottom: 0.5em;
}

#portfolio h2 {
    text-align: center;
    margin-bottom: 1em;
}

.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.gallery img {
    width: 100%;
    height: 95%;
}

#contact {
    width: 50%;
    margin: auto;
}

#contact > * {
    text-align: center;

}

#contact h2 {
    margin-bottom: 20px;
}

#contact form {
    text-align: left;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

#contact input {
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
    margin: 2em 0 1em 0;
}

#contact textarea {
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
    font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: #1D6154;
    margin: 2em auto;
    width: 180px;
    text-align: center;
    border-radius: 60px;
}

footer nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 2em
}

/*FiltreButtons*/
#tri {
    margin-bottom: 40px;
    justify-content: center;
    height: 37px;
    display: flex;
    width: 100%;
}

.tri-button {
    align-items: center;
    margin: 0 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    color: rgba(29, 97, 84, 1);
    border: 1px solid rgba(29, 97, 84, 1);
    border-radius: 60px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
    font-family: 'Syne';
}

.tri-button.active {
    background-color: rgba(29, 97, 84, 1);
    color: white;
}

/*StyleCss for login.page*/
.login-container h2 {
    font-weight: 700;
    height: 37px;
}

.login-container {
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 20px;
}

.login-form {
    text-align: left;
}

.form-group {
    margin: 10px 0;
}

.form-group label {
    display: block;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: 300px;
    padding: 10px;
    border: none;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
}

.form-group .forgot-password {
    display: block;
    text-align: center;
}

.form-group button {
    height: 36px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    padding: 10px;
    margin-left: 76px;
    margin-top: 30px;
    background-color: white;
    color: rgba(29, 97, 84, 1);
    border: 1px solid rgba(29, 97, 84, 1);
    border-radius: 60px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
}

.form-group button:hover {
    background-color: rgba(29, 97, 84, 1);
    color: white;
}

.form-group a {
    color: rgba(61, 61, 61, 1);
    font-size: 12px;
    font-weight: 500;
    margin-top: 20px;
}

.form-group label {
    color: rgba(61, 61, 61, 1);
    font-size: 12px;
    font-weight: 500;
}

li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

header a {
    text-decoration: none;
}

li a:hover {
    color: #1D6154;
}

/*Icon for modale*/

.blockText {
    display: flex;
    justify-content: center;
}

.blockText h2 {
    margin-right: 20px;
}

#iconModifier {
    align-items: center;
    display: none;
    margin-bottom: 25px;
}

#openModal {
    cursor: pointer;
}

.modal-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.modal-content {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 650px;
    max-height: none;
    min-height: 700px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.modal-content h2 {
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 20px;
    color: black;
    margin-top: 40px;
}

#closeModal {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.modal-content button {
    border: none;
    background-color: white;
    font-size: 15px;
}

.modal-content img {
    width: 85px;
    height: 114px;
}

.gallery-container {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 70px;
}

.gallery-container div {
    width: 17%;
    padding: 12px;
    box-sizing: border-box;
}

.gallery-item {
    position: relative;
}

.delete-icon {
    position: absolute;
    top: 18px;
    right: 8px;
    color: white;
    background-color: black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
}

.modal-content .separator {
    height: 1px;
    background-color: rgba(179, 179, 179, 1);
    width: 70%;
    margin: 40px auto;
}

#buttonModale {
    margin-bottom: 40px;
    justify-content: center;
    height: 37px;
    display: flex;
    width: 100%;
}

#buttonModale button {
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgba(29, 97, 84, 1);
    color: white;
    border-radius: 60px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Syne';
    transition: transform 0.2s;
    transform: scale(1);
}

#buttonModale button:active {
    transform: scale(0.95);
}

.modal-content.open {
    display: block;
    animation: fade-in 0.4s ease-in;
}

.modal-background.open {
    display: block;
    animation: fade-in 0.4s ease-in;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*Seconde modale*/
.modal-content2 {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 650px;
    height: 700px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.modal-content2 h2 {
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 20px;
    color: black;
    margin-top: 40px;
}

.gallery-container2 {
    display: flex;
    justify-content: center; /* Horizontale*/
    align-items: center; /* Verticale */
}

.form-container {
    width: 70%;
    height: 170px;
    background-color: rgba(232, 241, 246, 1);
    display: flex;
}

.buttonV {

    justify-content: center;
    height: 37px;
    display: flex;
    width: 100%;
}

.buttonV button {
    align-items: center;
    padding-left: 90px;
    padding-right: 90px;
    background-color: rgba(167, 167, 167, 1);
    color: white;
    border-radius: 60px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Syne';
    transition: transform 0.2s;
    transform: scale(1);
    border: none;
}

.buttonV button:active {
    transform: scale(0.95);
}

#closeModal2 {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    border: none;
    background-color: white;
    font-size: 15px;
}

.modal-background2 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999; /* Overall */
}

.modal-content2.open {
    display: block;
    animation: fade-in 0.4s ease-in;
}

.modal-background2.open {
    display: block;
    animation: fade-in 0.4s ease-in;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#openModal2 {
    cursor: pointer;
}

#openModal2 {
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgba(29, 97, 84, 1);
    color: white;
    border-radius: 60px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Syne';
    transition: transform 0.2s;
    transform: scale(1);
}

#openModal1 {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 22px;
    position: absolute;
    top: 6px;
    left: 4px;
}

.modal-content2 .separator2 {
    height: 1px;
    background-color: rgba(179, 179, 179, 1);
    width: 70%;
    margin: 60px auto;
}

.input-container {
    text-align: center;
}

/* For label */
label.TitreForme {
    display: block;
    margin-top: 30px;
    text-align: left;
    margin-left: 95px;
    font-family: 'Work Sans';
    font-size: 14px;
    font-weight: 500;
}

.CatForme {
    display: block;
    margin-top: 30px;
    text-align: left;
    margin-left: 95px;
    font-family: 'Work Sans';
    font-size: 14px;
    font-weight: 500;
}

.valid {
    background-color: rgba(29, 97, 84, 1) !important;
    transition: background-color 0.4s ease !important;
}

/* For input & select */
input[type="text"] {
    margin-top: 10px;
    width: 70%;
    height: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: none;

}

select {
    margin-top: 10px;
    width: 71%;
    height: 55px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: none;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-container img {
    width: 70px;
    height: 60px;
    color: rgba(185, 197, 204, 1);
    margin-top: 15px;
}

#custom-file-upload {
    background-color: rgba(203, 214, 220, 1);
    color: rgba(48, 102, 133, 1);
    border-radius: 60px;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Work Sans';
    transition: transform 0.2s;
    transform: scale(1);
    border: none;
    width: 170px;
    height: 35px;
    margin-top: 10px;
}

#custom-file-upload:active {
    transform: scale(0.95);
}

form p {
    font-weight: 400;
    font-size: 10px;
    font-family: 'Work Sans';
    color: rgba(68, 68, 68, 1);
    margin-top: 10px;
}

#preview img {
    height: 169px;
    width: 130px;
    object-fit: cover;
    margin-bottom: 41px;
}

